<div class="background-blur" *ngIf="this.isDialogShown">
  <div class="enter-city">
    <p class="enter-city__text small-font">Choose a city</p>
    <input #cityInput type="text" class="dialog-input small-font" [placeholder]="this.weatherData.name">
    <button (click)="closeDialog(cityInput.value)" class="dialog-close small-font">Ok</button>
  </div>
</div>
<div class="container">
  <nav class="navbar">
    <div class="navbar-date">
      <span class="time big-font">23:43</span>
      <span class="date small-font">25 maja 2023</span>
    </div>
    <div class="navbar-input">
      <div class="input-container">
        <img
          src="../assets/location-pin-svgrepo-com.svg"
          alt="location icon"
          class="location-icon"
        />
        <button  class="button-city small-font" (click)="showDialog()"> {{this.weatherData.name}}</button>
      </div>
      <div class="toggle-container">
        <span class="toggle-text small-font">60+</span>
        <label class="switch">
          <input type="checkbox" (click)="changeForOlderPeople()"/>
          <span class="slider round"></span>
        </label>
      </div>
    </div>
  </nav>
  <main class="weather-info">
    <div class="temperature-container">
      <img
        [src]="this.imgSrc"
        alt="Weather icon"
        class="weather-icon"
      />
      <span class="temperature">{{this.weatherData.main.temp.toFixed(1)}}&deg;C</span>
      <span class="description small-font">{{this.description}}</span>
    </div>
    <div [ngClass]="{'more-info-container': !isChanged, 'more-info-container-changed': isChanged}">
      <div class="one-info">
        <span class="data small-font">{{this.weatherData.sys.sunrise * 1000 | date:'HH:mm'}}</span>
        <img
          src="../assets/8520336_sunrise_sunset_sunny_morning_hot_icon.svg"
          alt="Sunrise"
          class="info-icon"
        />
        <span class="sub-data small-font">Sunrise</span>
      </div>
      <div class="one-info">
        <span class="data small-font">{{this.weatherData.sys.sunset * 1000 | date:'HH:mm'}}</span>
        <img
          src="../assets/8520300_sunset_sunrise_beach_sun_sea_icon.svg"
          alt="Sunset"
          class="info-icon"
        />
        <span class="sub-data small-font">Sunset</span>
      </div>
      <div class="one-info">
        <span class="data small-font">{{this.weatherData.main.pressure}}hPa</span>
        <img
          src="../assets/4829857_arrow_down_download_save_icon.svg"
          alt="Pressure"
          class="info-icon small"
        />
        <span class="sub-data small-font">Pressure</span>
      </div>
    </div>
  </main>
</div>
